# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: The WCSNG
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  Wireless Communication Sensing and Networking Group (WCSNG). 
  We believe that progress is a result of unconventional thinking and dedicated work to improve 
  the current state of technology. Our research areas span modern wireless communication systems, 
  sensor networks, and machine learning. 
  Some of our impact areas are Medical Diagnosis, Telecommunications, V2X, VR/AR and Safety.
  We work with software radios such as USRP, WARP board, GPS, Quantenna WiFi.
baseurl: ""
url: ""

include:
  - .htaccess
  - _pages

sass:
  sass_dir: _sass

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false



# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

