<!DOCTYPE html>
<html>
  {% include head.html %}
  <head>
    <!-- some other meta -->
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <link rel="canonical" href="{{ page.redirect_to }}"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="0;url=https://wcsng.ucsd.edu/{{ page. }}" />
    <!-- some other stuff like link or script -->
  </head>
  <body>
    <h1>Redirecting...</h1>
    <a href="{{ page.redirect_to }}">Click here if you are not redirected.<a>
    <script>location='{{ page.redirect_to }}'</script>
    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
<head>

</head>
