---
layout: default
---
<div class="col-sm-24 clearfix">
 <div class="well">
 	<center>
  	<a href="{{ site.url }}{{ site.baseurl }}/localization.html">Localization </a>&emsp;<a href="{{ site.url }}{{ site.baseurl }}/spectrum_sensing.html">Spectrum Sensing </a>&emsp;<a href="{{ site.url }}{{ site.baseurl }}/fullduplex.html">Full Duplex </a>&emsp;<a href="{{ site.url }}{{ site.baseurl }}/backscatter.html">Backscatter </a>&emsp;<a href="{{ site.url }}{{ site.baseurl }}/vehicular.html">Vehicular Sensing </a>&emsp;<a href="{{ site.url }}{{ site.baseurl }}/vr.html">Virtual Reality </a>&emsp;<a href="{{ site.url }}{{ site.baseurl }}/communication.html">Wireless Communication </a><br><a href="{{ site.url }}{{ site.baseurl }}/misc-research.html">Miscellaneous Research</a>
  </center>
  </div>
</div>

<div id="textid" class="col-sm-24">
  {{ content }}
</div>
